<h1>投稿詳細ページ</h1>
<h3><%= @micropost.user.email %></h3>
<h3><%= @micropost.content %></h3>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>

    <a href="/users/<%= @micropost.user.id %>"><%= c.user.email %></a>
    <a href="/microposts/<%= micropost.id %>"><%= c.micropost.content %></a>    <%=#仮 %>



<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  
  <%= f.submit 'コメントする' %>
<% end %>

<%= link_to "ホームへ戻る", posts_path %>
